<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manshika.later_in">
   <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="26" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/newicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            android:hardwareAccelerated="false"
            android:largeHeap="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter >
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter >
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>

        <activity android:name=".MainActivity3"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            >co
        </activity>
        <service android:name=".AppService"/>
        <service android:name=".FloatIcon"/>
    </application>

</manifest>